<!-- C:\JavaScriptEtAngular\Angular\PokemonManager\src\app\composants\pokemons\pokemons.component.html -->
<div class="container">
    <h2>Les six premiers Pokémon : </h2>
    <hr />
    <div class="columns">
        <div class="column is-one-third">
            <p>{{compte}} Pokémon en base de données</p>
            <p *ngIf=pokemonSelectionne>Le Pokémon sélectionné est : {{pokemonSelectionne}}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-two-third">
            <form #form="ngForm">
                <div class="field has-addons">
                    <div class="control has-icons-left">
                        <input class="input is-small" name="pokemonRecherche" type="test" placeholder="Nom du Pokémon"
                            [(ngModel)]="formRecherchePokemon.nom" (keyup)="rechercher(formRecherchePokemon.nom)"
                            pattern="[a-zA-Z 3]*" [class.is-danger]="form.invalid">
                        <span class="icon is-small is-left">
                            <fa-icon [icon]="faOptinMonster"></fa-icon>
                        </span>
                        <div *ngIf="form.invalid" class="tag is-danger is-light">Le champ de saisie ne doit contenir que
                            des lettres.</div>
                        <div *ngIf="easterEggs"><img src="https://giphy.com/embed/3o7bu1nVSxNQUWMAZa">
                        </div>
                    </div>
                    <div class="control">
                        <a class="button is-primary is-small" (click)="rechercher(formRecherchePokemon.nom)"
                            [class.is-danger]="form.invalid">Rechercher</a>
                    </div>
                    <div class="control">
                        <a class="button is-light is-small" (click)="annulerRecherche()"> Annuler </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="pokemons?.length<1">Aucun Pokémon trouvé</div>
    <div class="columns is-multiline">
        <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons">
            <li>
                <app-pokemon [pokemon]=pokemon (evenementClicImage)="pokemonSelectionne=$event"></app-pokemon>
            </li>
        </ul>
    </div>
</div>